<h3>Chat Room</h3>
<div class="row" *ngIf="_screenName == '' || _screenName == null">
  <h5>You are currently not logged in. Please login first.</h5>

  <form (ngSubmit)="loginUser(loginScreenName)">
    <div class="form-group col-md-10 col-sm-10">
      <input class="form-control" id="screenName" [(ngModel)]="loginScreenName" placeholder="Screen Name">
    </div>
    <div class="col-md-2 col-sm-2">
      <button type="button" (click)="loginUser(loginScreenName)" class="btn btn-primary">Login</button>
    </div>
  </form>

</div>

<div class="row" *ngIf="_screenName">
  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><strong>Chat Room ({{_screenName}})</strong></div>
      <div class="panel-body">
        <p>All Chat messages will be displayed here:</p>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>From</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#message of _chatMessages">
          <td>{{message.from}}</td>
          <td>{{message.message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <form (ngSubmit)="sendMessage(newMessageInput)">
      <div class="form-group col-md-10 col-sm-10">
        <input class="form-control" id="newMessage" #newMessageInput placeholder="Message">
      </div>
      <div class="col-md-2 col-sm-2">
        <button type="button" (click)="sendMessage(newMessageInput)" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>