<div class="row">
  <h3>Send Work Requests</h3>
</div>
<div class="row col col-lg-5 col-md-5 col-sm-5">
  <form (submit)="getCustomers(playerList.value)">
    <div class="form-group">
      <label for="playerList">Player List</label>
      <textarea id="playerList" #playerList class="form-control" rows="2">MIDASBKR,MIDASBC,MIDASDSI</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Get Player Info</button>
  </form>
</div>
<div class="col col-lg-2 col-md-2 col-sm-2"></div>
<div class="row col col-lg-5 col-md-5 col-sm-5">
  <form (submit)="getTransactions(journalList.value)">
    <div class="form-group">
      <label for="journalList">Journal List</label>
      <textarea id="journalList" #journalList class="form-control" rows="2">300001215,300001214,300001213,300001212,300001211,300001210,300001209,300001208,300001207,300001206,300001205,300001204,300001203,300001202,300001201,300001200,300001199,300001198,300001197,300001196,300001195,300001194,300001193,300001192</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Get Journal Info</button>
  </form>
</div>

<div class="row col col-lg-12 col-md-12 col-sm-12" *ngIf="workRequests.length > 0">
  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><strong>Work Request Status ({{workRequests.length}})</strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="row col col-lg-3 col-md-3 col-sm-3">
            <p>Pending Customers: {{workRequestsSummary.customer.PENDING}}</p>
            <p>Completed Customers: {{workRequestsSummary.customer.COMPLETED}}</p>
            <p>Failed Customers: {{workRequestsSummary.customer.FAILED}}</p>
          </div>
          <div class="row col col-lg-3 col-md-3 col-sm-3">
            <p>Pending Transactions: {{workRequestsSummary.transaction.PENDING}}</p>
            <p>Completed Transactions: {{workRequestsSummary.transaction.COMPLETED}}</p>
            <p>Failed Transactions: {{workRequestsSummary.transaction.FAILED}}</p>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary" (click)="hideWorkRequests('COMPLETED')">Remove Completed</button>
          <button type="submit" class="btn btn-primary" (click)="hideWorkRequests('FAILED')">Remove Failed</button>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Function</th>
          <th>Status</th>
          <th>Request</th>
          <th>Response</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#wr of workRequests">
          <td>{{wr.f}}</td>
          <td>{{wr.status}}</td>
          <td>{{wr.request | json}}</td>
          <td>{{wr.response}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>